header {
    font-family: verdana;
    background-color: #27385E;
    border: solid grey 4px;
}

nav li {
    display: inline-block;
    list-style-type: none;
}


nav a {
    color: #608CEB;
    text-decoration: none;
}

.nav-button {
    color: #1C2945;
    background-color: #608CEB;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    margin-right: -5px;
}

.nav-button:hover {
    text-decoration: underline;
}

.header-game {
    border: solid gray;
}

.login-button {
    background-color: #608CEB;
    color: white;
    padding: 14px 3px;
    border-radius: 50%;
}

.meny {
    display: inline-block;
    float: right;
}